{% extends "base.html" %}

{% block title %}Inicio - Inventario de Objetos{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/homepage.css">

<div class="barhom">
        <ul>
            <!-- Logo -->
            <!-- <li><a href="/#home" class="logo">
                    <img src="/static/img/facebook.png">
                </a></li> -->

            <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>
            <li><a href="/quienes_somos"><i class="fa fa-fw fa-search"></i> ¿Quiénes Somos?</a></li>
            <li><a href="/sobre_nosotros"><i class="fa-solid fa-users"></i> Sobre Nosotros</a></li>
            <li><a class="active" href="/loginUsu"><i class="fa fa-fw fa-user"></i> Iniciar Sesión</a></li>
            
        </ul>
    </div>

<section class="contenido" id="contenido">

    <div class="contenido_texto">
        <h2>Inventario de Objetos en Bodega</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Corrupti deserunt ratione, pariatur, rerum culpa labore
            quod commodi explicabo suscipit, illum impedit fuga assumenda
            aut cumque dolor eaque temporibus! Enim molestiae provident neque
            deserunt voluptatum nam commodi nihil aspernatur quo vero.</p>
    </div>

    <div class="contenedor-botones">
        <div>
            <a href="/sobre_nosotros" style="text-decoration: none; color: white;"  class="boton-cuadrado">
                <i class="fa-solid fa-users" style="color: white;"></i>
                <span>Sobre Nosotros</span>
            </a>
            <a href="/loginUsu" style="text-decoration: none; color: white;"  class="boton-cuadrado">
                <i class="fa-solid fa-right-to-bracket" style="color: white;"></i>
                <span>Iniciar Sesión</span>
            </a>
            
        </div>
        <div>
            <a href="/justificacion_proyecto" style="text-decoration: none; color: white;"  class="boton-cuadrado">
                <i class="fa-solid fa-sitemap" style="color: white;"></i>
                <span>Justificación Proyecto</span>
            </a>
            <a href="/register" style="text-decoration: none; color: white;"  class="boton-cuadrado">
                <i class="fa-solid fa-user-plus" style="color: white;"></i>
                <span>Registrarme</span>
            </a>
        </div>
    </div>



</section>

<footer class="plis">
    <h3>www.sena.edu.co</h3>
    <nav>
        <ul>
            <li><a href="https://www.instagram.com/senacomunica/"><img src="/static/img/instagram.png" alt="instagram_icon"></a></li>
            <li><a href="https://www.facebook.com/SENA/"><img src="/static/img/facebook.png" alt="facebook_icon"></a></li>
            <li><a href="https://twitter.com/SENAComunica"><img src="/static/img/gorjeo.png" alt="twitter_icon"></a></li>
            <li><a href="https://www.youtube.com/@SENAComunica"><img src="/static/img/youtube.png" alt="youtube_icon"></a></li>
            <li><a href="https://linkedin.com/school/servicio-nacional-de-aprendizaje-sena-/"><img src="/static/img/linkedin.png" alt="linkedin_icon"></a></li>
        </ul>
        <p>@SENAComunica</p>
    </nav>
    <br>
    <p>&copy; 2024 Servicio Nacional de Aprendizaje - SENA</p>
</footer>


{% endblock %}