<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/nav.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sideb">
        <div class="logo-details">
            <i class='bx bxs-user icon'></i>
            <div class="logo_name">Inventario</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav-list">
          <li>
              <i class='bx bx-search' ></i>
             <input type="text" placeholder="Search...">
             <span class="tooltip">Search</span>
          </li>
          <li>
            <a href="#" onclick="loadPage('/mostrar_inventario')">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name">Inventario</span>
            </a>
             <span class="tooltip">Objectos</span>
          </li>
          <li>
           <a href="#" onclick="loadPage('/usuarios')">
             <i class='bx bx-user' ></i>
             <span class="links_name">User</span>
           </a>
           <span class="tooltip">User</span>
         </li>
         <li>
           <a href="#" onclick="loadPage('/mostrar_objetos')">
             <i class='bx bx-pie-chart-alt-2' ></i>
             <span class="links_name">Objectos</span>
           </a>
           <span class="tooltip">Analytics</span>
         </li>
         <li>
           <a href="#"  onclick="loadPage('/prestamos')">
             <i class='bx bx-cart-alt' ></i>
             <span class="links_name">Prestamos</span>
           </a>
           <ul>
            <li>
              <a href="#" onclick="loadPage('/mostrar_prestamos')">
                <i class='bx bx-globe'></i>
                <span class="links_name">Todos</span>
              </a>
            </li>
            <li>
              <a href="#" onclick="loadPage('/mostrar_prestamos_en_curso')">
                <i class='bx bx-loader-circle'></i>
                <span class="links_name">En Curso</span>
              </a>
            </li>
            <li>
              <a href="#" onclick="loadPage('/mostrar_prestamos_culminados')">
                <i class='bx bxs-check-circle' ></i>
                <span class="links_name">Culminados</span>
              </a>
            </li>
           </ul>
           <span class="tooltip">Order</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-cog' ></i>
             <span class="links_name">Setting</span>
           </a>
           <span class="tooltip">Setting</span>
         </li>
         <li class="profile">
             <div class="profile-details">
               <img src="profile.jpg" alt="profileImg">
               <div class="name_job">
                 <div class="name">Prem Shahi</div>
                 <div class="job">Web designer</div>
               </div>
             </div>
             <i class='bx bx-log-out' id="log_out" ></i>
         </li>
        </ul>
      </div>
      <section class="home-sec">
        <div class="rembe">
          <img src="/static/img/logo_Sena.png" class="ñel">
        </div>
        <div class="text" id="pes">INVENTARIO</div>
      </section>
      <script src="/static/javascripts/nav.js"></script>
</body>
</html>