{% extends "base.html" %}

{% block title %}Inicio - Inventario de Objetos{% endblock %}

{% block content %}

<section class="contenido" id="contenido">

    <div class="contenido_texto">
        <h2>Inventario de Objetos en Bodega</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Corrupti deserunt ratione, pariatur, rerum culpa labore
            quod commodi explicabo suscipit, illum impedit fuga assumenda
            aut cumque dolor eaque temporibus! Enim molestiae provident neque
            deserunt voluptatum nam commodi nihil aspernatur quo vero.</p>
    </div>

    <div class="contenedor-botones">
        <div>
            <a href="/sobre_nosotros" style="text-decoration: none; color: white;"  class="boton-cuadrado">
                <i class="fa-solid fa-users" style="color: white;"></i>
                <span>Sobre Nosotros</span>
            </a>
            <a href="/loginUsu" style="text-decoration: none; color: white;"  class="boton-cuadrado">
                <i class="fa-solid fa-right-to-bracket" style="color: white;"></i>
                <span>Iniciar Sesión</span>
            </a>
            
        </div>
        <div>
            <a href="/justificacion_proyecto" style="text-decoration: none; color: white;"  class="boton-cuadrado">
                <i class="fa-solid fa-sitemap" style="color: white;"></i>
                <span>Justificación Proyecto</span>
            </a>
            <a href="/register" style="text-decoration: none; color: white;"  class="boton-cuadrado">
                <i class="fa-solid fa-user-plus" style="color: white;"></i>
                <span>Registrarme</span>
            </a>
        </div>
    </div>



</section>

{% endblock %}